html {
    font-family: Garamond, 'Times New Roman', serif;
    background: repeating-linear-gradient(-45deg, darkgrey, darkgrey 50px, lightgray 50px, lightgray 100px);
    min-height: 100vh
}
body {
    font-size: 1.5em;
    background-attachment: scroll;
}

.aboutme {
    justify-self: center;
    width: 768px;
    border: black 4px ridge;
    background-color: lightgray;
    padding: .15em 2em .15em 2em;
    margin-bottom: 2em;
}

#headshot{
    float: left;
    border: black 4px double;
    margin: 4% 4% 0% 0%;
    width: auto;
    height: 240px;
}


address {
    display: flex;
    justify-content: space-around;
    text-wrap: nowrap;
    column-gap: 1em;
    padding: .25em .25em .25em .25em;
    background-color: lightgray;
    border: black 4px ridge;
    width: auto;
    font-style: normal;
}

@media (max-width: 768px)
{
    body {
        font-size: 1em;
    }
    .aboutme {
        justify-self: center;
        width: 412px;
    }
    #headshot{
        width: 40%;
        height:120px;
        border: black 2px double;
    }
    address {
        padding: .25em .25em .25em .25em;
        text-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        gap: 1em;
        height: auto;
        column-gap: 1em;
    }
}

.linkbar {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 48px;
    height: 88px;
    justify-content: center;
}

.linkbar > a {
    height:inherit;
    border: black 4px solid;
    color: black;
    text-decoration: none;
    height: 48px;
    background-color: aquamarine;
}

.linkbar > a > span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.linkbar > a:hover {
    font-size: 48px;
}