body {
    font-size: 3em;
	background-color: Snow;
}

.page-header{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 1em;
}

.page-header > h1{
    margin-top:-.3em; 
    line-height:.8em;
}

nav{
    display: flex;
    gap: .5em;
}

hr{
    border: 2px solid black;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
    margin: 0em 0em 0em;
}

h2 {
    margin: 0em 0em 0em;   
}

h3 {
    margin: 0em 0em 0em;

}

ul {
    margin: .25em 1em .25em;
}

ul li {
    margin-bottom: .5em;
}

address {
    display: grid;
    justify-content: left;
    text-wrap: nowrap;
    padding: 16px 32px 16px 24px;
    border: black 4px solid;
    margin-top: 2em;
    width: 15em;
}

table, th, td{
    border: .1em solid black;
}

table{
    margin-bottom: 1em;
    font-size: .65em;
}

td{
    padding: .5em;
}

td{
    padding: .5em;
}

.portfolio-table{
    max-width: 75vw;
}

