@media screen and (max-width: 1450px), screen and (max-height: 1200px){
    body {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 1200px), screen and (max-height: 1040px){
    body{
        font-size: 3em;
    }
}

@media screen and (max-width: 1050px), screen and (max-height: 870px){
    body{
        font-size: 2.5em;
    }
}

@media screen and (max-width: 860px), screen and (max-height: 750px){
    body{
        font-size: 2em;
    }
}

@media screen and (max-width: 700px), screen and (max-height: 600px){
    body{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 520px), screen and (max-height: 450px){
    body{
        font-size: 1em;
    }
}
